@model List<GrayBShop.Models.CartItem>
@{ var sumItem = 0;
    foreach (var item in Model)
    {
        sumItem += item.Amount;
    } }
<style>
    .cart {
        position: relative;
    }

        .cart .cart-count {
            position: absolute;
            top: -11px;
            display: block;
            background: #185137;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            color: #fff;
            font-size: 12px;
            left: 10px;
            padding: 3px 5px;
            font-weight: 600;
            text-align: center;
        }
</style>
<a href="/gio-hang">
    <div class="cart">
        <i class="fa fa-shopping-bag" style="font-size:20px;color:black"></i>

        <span class="cart-count" id="cartcount">
            @sumItem

        </span>
        </div>
</a>
@*<button class="userBtn">
        <div class="cart">
            <i class="fa fa-shopping-bag" style="font-size:20px;"></i>
            <span class="cart-count">0</span>
        </div>
    </button>*@